
<h1>This is all cocktails</h1>

<%= cl_image_tag "caj1atkt9nai11y8vtft", width: 200, height: 200 %>

<div class="container">
  <div class="row">
    <% @cocktails.each do |c| %>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card">
          <div class="card-description">
            <h2><%= c.name %></h2>
            <%= link_to "View", cocktail_path(c.id) %>
          </div>
        </div>
      </div>
    <% end  %>