<div class="banner" style="background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.43)), url('https://res.cloudinary.com/dtnelvzwv/image/upload/v1590691085/pdlcjmcvxkwb7oeedl8l.jpg')">

  <div class="container">
    <h1>Find the best cocktail recipes!</h1>
    <a class="btn btn-primary" href="cocktails#index">Get mixin'</a>
  </div>
</div>


